@model server.Models.User
@using server.Controllers

@{
    ViewData["Title"] = "Login";
    var user = ViewData["User"];
    Layout = null;
}

@if (user == null){

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/login_register/style.css" />
    </head>
    <body>
        <div class="center pb-3">
            <h1>Login</h1>
            <form asp-controller="Login" asp-action="Login">

                <div class="txt_field">
                    <input type="text" asp-for="Username" id="inputUsername" autocomplete="off" required />
                    <span></span>
                    <label for="inputUsername">Username</label>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <div class="txt_field">
                    <input type="password" asp-for="Password" id="inputPassword" required />
                    <span></span>
                    <label for="inputPassword" class="pass">Password</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" /> Remember me
                    </label>
                </div>

                <input type="submit" value="Register" />

                <br></br>
                <p>Don't have an account? <a href="/register">Register</a></p>
            </form>
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/89158a5fb7.js" crossorigin="anonymous"></script>
    </body>
</html>
}

else{
    <script>
        window.location.href = '/';
    </script>
}

@if (TempData["msg"] != null)
{
    <script>
        alert('@TempData["msg"]');
    </script>
}