@model CartViewModel

@{
  var user = ViewData["User"] as User;
  double subtotal = 0;
  @if (Model.CartItems.Count > 0)
  {
    @foreach (var item in Model.CartItems){
      subtotal += item.Total;
    }
  }
}

@if (user != null)
  {
    <html>
  <head>
    <link src="~/css/checkoutstyle.css">
  </head>
  <body>
    <section class="h-100 h-custom">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12">
            <div class="card card-registration card-registration-2" style="border-radius: 15px;">
              <div class="card-body p-0">
                <div class="row g-0">
                  <div class="col-lg-8">
                    <div class="p-5">
                      <div class="d-flex justify-content-between align-items-center mb-5">
                        <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                        <h6 class="mb-0 text-muted">3 items</h6>
                      </div>
                      <hr class="my-4">
                      @if (Model.CartItems.Count > 0)
                      {
                        @foreach (var item in Model.CartItems){
                          <div class="row mb-4 d-flex justify-content-between align-items-center">
                            <div class="col-md-2 col-lg-2 col-xl-2">
                              <img
                                src="@item.Image"
                                class="img-fluid rounded-3">
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-3">
                              <h6 class="text-black mb-0">@item.ProductName</h6>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                              @item.Quantity
                            </div>
                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                              <h6 class="mb-0">$@item.Total</h6>
                            </div>
                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                              <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                            </div>
                          </div>
                        }
                      }

                      <div class="pt-5">
                        <h6 class="mb-0"><a href="#!" class="text-body"><i
                              class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 bg-grey">
                    <div class="p-5">
                      <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                      <hr class="my-4">

                      @foreach (var item in Model.CartItems){
                        <div class="d-flex justify-content-between mb-4">
                          <h5 class="text-uppercase">@item.ProductName</h5>
                          <h5>$@item.Total</h5>
                        </div>
                      }



                      <hr class="my-4">

                      <div class="d-flex justify-content-between mb-5">
                        <h5 class="text-uppercase">Total price</h5>
                        <h5>$@subtotal</h5>
                      </div>

                      <button type="button" class="btn btn-dark btn-block btn-lg"
                        data-mdb-ripple-color="dark">Finish</button>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
  }
else{
  <script>
      window.location.href = '/';
  </script>
}